<div class="content">
    <div class="brand">
        <a class="link" routerLink="/home"></a>
    </div>  
  <h1 class="m-t-20">404</h1>
  <p class="error-title">PÁGINA NÃO ENCONTRADA</p>
  <p class="m-b-20">Desculpe, a página que você tentou acessar não foi encontrada. Por favor verifique o endereço e tente novamente.
      <a class="color-green" routerLink="/home"><i class="fa fa-home fa-2x"></i> Redirecionar para a página principal </a> ou tente localizar informando o endereço.</p>
  <form action='javascript:;'>
      <div class="input-group">
          <mat-form-field class="enderecolink-form-field">
              <input matInput placeholder="Procurar o endereço" type="text" value="">
          </mat-form-field>                    
          <div class="input-group-btn">
              <button class="btn btn-success" type="button">Procurar</button>
          </div>
      </div>
  </form>
</div>
<style type="text/css">
  .content{
      max-width: 450px;
      margin:0 auto;
      text-align: center;
  }
  .content h1 {
      font-size: 160px
  }
  .error-title {
      font-size:22px; 
      font-weight:500;
      margin-top: 30px
  }
</style>
